/* Import Lalezar Font */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.lalezar {
  font-family: "lalezar";
}

/* Navbar */

.navbar {
  background-color: #f2f5fc;
}

@media screen and (min-width: 768px) {
  .position-md-fixed {
    position: fixed;
  }
}

.course-list {
  width: 300px;
  padding: 10px 0;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;

}

.course-list-item {
  display: flex;
  padding: 10px 15px;
}

.course-list-item:hover {
  background: rgb(240, 240, 240);
}

/* Header background */

.header {
  background: url('../images/header/header-bg.png') top center no-repeat;
  background-size: cover;
}

/* Counter */

.counter-box {
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}