/* Import Lalezar Font */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.lalezar {
  font-family: "lalezar";
}

.navbar {
  background-color: #f2f5fc;
}

@media screen and (min-width: 768px) {
  .position-md-fixed {
    position: fixed;
  }
}

.course-list {
  width: 300px;
  padding: 10px 0;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;

}

.course-list-item {
  display: flex;
  padding: 10px 15px;
}

.course-list-item:hover {
  background: rgb(240, 240, 240);
}